.App {
  text-align: center;
  color: #F5F1F1;
  background-color: #E9AC06;
  height: 80vh;
}

.Title {
  text-align: center;
  color: #F5F1F1;
  font-size: 100px;
  background-color: #E9AC06;
  height: 20vh;
}

